@font-face {
    font-family: 'MyFont';
    src: url('../../../assets/r&mFont.ttf') format('truetype');
}

@font-face {
    font-family: 'R&M';
    src: url('../../../assets/get_schwifty.ttf') format('truetype');
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    z-index: 4;
    background: linear-gradient(black, #3B5864, black);
    position: fixed;
    margin: 0;
    animation: glow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes glow {
    from {
        box-shadow: 0px 0px 20px rgb(0, 0, 0);
    }

    50% {
        box-shadow: 0px 0px 20px rgb(0, 255, 0);
    }

    to {
        box-shadow: 0px 0px 20px rgb(0, 0, 0);
    }
}

.buttons {
    background-color: transparent;
    height: 80px;
    width: 100px;
    font-family: 'MyFont';
    background: linear-gradient(black, #3B5864, black);
    border: 0;
    font-size: 20px;
}

.buttons:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logOut {
    height: 80px;
    width: 100px;
    font-family: 'MyFont';
    background: linear-gradient(black, #3B5864, black);
    border: 0;
    font-size: 20px;
    z-index: 1;
    margin-right: 10px;
}

.logOut:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.searchBar {
    display: grid;
    position: absolute;
    justify-content: center;
    width: 98vw;
    margin-top: 17px;
    background-color: transparent;
    z-index: 0;
    padding-left: 22px;
}

.random {
    width: fit-content;
    margin-left: 70px;
    background-color: transparent;
    border: 0;
    font-family: 'MyFont';
    font-size: 20px;
}

.random:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.botonesIndex {
    z-index: 1;
    display: flex;
    align-items: center;
}