@font-face {
    font-family: 'MyFont';
    src: url('../../../assets/r&mFont.ttf') format('truetype');
}

@font-face {
    font-family: 'R&M';
    src: url('../../../assets/get_schwifty.ttf') format('truetype');
}

.background {
    background-image: url(../../../assets/rick-y-morty-en-el-espacio_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
}

.portal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/Portal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: rgba(10, 10, 10, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: rgb(28, 88, 129);
    font-family: 'MyFont';
    padding: 55px;
    border-radius: 50%;
    z-index: 2;
    text-shadow: 0px 0px 10px rgb(0, 255, 0);
    
}

.label {
    font-size: 30px;
    font-weight: bold;
}

.errores {
    font-size: smaller;
    color: red;
    text-shadow: 0px 0px 10px red;
}

.titulo {
    display: flex;
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding-bottom: 700px;
    font-family: 'R&M';
    font-size: 150px;
    color: #CE2567;
    text-shadow: 0px 0px 10px rgb(0, 255, 0);
    z-index: 1;
}

.titulo1 {
    display: flex;
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding-bottom: 700px;
    font-family: 'R&M';
    font-size: 152px;
    animation-duration: 3s;
    animation-name: glow;
    animation-iteration-count: infinite;
    z-index: 0;
}

@keyframes glow {
    from{
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 20px rgb(0, 0, 0);
    }
    50%{
        color: rgb(70, 255, 85);
        text-shadow: 0px 0px 20px rgb(0, 255, 0);
    }
    to{
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 20px rgb(0, 0, 0);
    }
}

.input {
    border: 1px solid greenyellow;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    color: white;
}

.loginButton {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: greenyellow;
}

