@font-face {
    font-family: 'MyFont';
    src: url('../../../assets/r&mFont.ttf') format('truetype');
}

@font-face {
    font-family: 'R&M';
    src: url('../../../assets/get_schwifty.ttf') format('truetype');
}


.button {
    background-color: transparent;
    border: 0;
    font-family: 'MyFont';
    font-size: 20px;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}